In [7]:
# library
import pandas as pd
import pymysql.cursors
from sqlalchemy import create_engine
pymysql.install_as_MySQLdb()
import MySQLdb

# 대용량 import & 테이블 저장
engine = create_engine("mysql+mysqldb://root:tpduscnfehd@localhost:3306/tpduscnfehd", encoding='utf-8')
db_connection = engine
conn = db_connection.connect()


budongsan = pd.read_csv('./database_real/budongsan.csv', encoding='utf-8')
budongsan
budongsan.to_sql(name='budongsan', con=conn, if_exists='replace')

monthly_rent = pd.read_csv('./database_real/monthly_rent.csv', encoding='utf-8')
monthly_rent
monthly_rent.to_sql(name='monthly_rent', con=conn, if_exists='replace')

jeonse = pd.read_csv('./database_real/jeonse.csv', encoding='utf-8')
jeonse
jeonse.to_sql(name='jeonse', con=conn, if_exists='replace')


meme = pd.read_csv('./database_real/meme.csv', encoding='utf-8')
meme
meme.to_sql(name='meme', con=conn, if_exists='replace')


fine_facility = pd.read_csv('./database_real/fine_facility.csv', encoding='utf-8')
fine_facility
fine_facility.to_sql(name='fine_facility', con=conn, if_exists='replace')



bad_facility = pd.read_csv('./database_real/bad_facility.csv',encoding='utf-8')
bad_facility
bad_facility.to_sql(name='bad_facility', con=conn, if_exists='replace')

737

In [20]:
# 사용자로부터 받은 동, money_type, min_size, max_size, min_floor, max_floor 값
dong = input('원하시는 동이름을 입력해주세요(공릉동/상계동/월계동/중계동/하계동): ')
money_type = input('부동산 종류를 입력해주세요(월세(준월세)/전세(준전세)/매매): ')
min_size = input("원하시는 최소 면적을 입력해주세요 (입력하지 않으려면 엔터): ")
max_size = input('원하시는 최대 면적을 입력해주세요 (입력하지 않으려면 엔터): ')
min_floor = input('원하시는 최소 층수를 입력해주세요 (입력하지 않으려면 엔터): ')
max_floor = input('원하시는 최대 층수를 입력해주세요 (입력하지 않으려면 엔터): ')


if money_type == '월세':
    min_deposit = input("최소 보증금을 입력해주세요 (입력하지 않으려면 엔터): ")
    max_deposit = input("최대 보증금을 입력해주세요 (입력하지 않으려면 엔터): ")
    min_monthly_rent = input("최소 월세를 입력해주세요 (입력하지 않으려면 엔터): ")
    max_monthly_rent = input("최대 월세를 입력해주세요 (입력하지 않으려면 엔터): ")
elif money_type == '전세':
    min_jeonse_price = input("최소 전세금을 입력해주세요 (입력하지 않으려면 엔터): ")
    max_jeonse_price = input("최대 전세금을 입력해주세요 (입력하지 않으려면 엔터): ")
    min_monthly_rent = input("최소 월세를 입력해주세요 (입력하지 않으려면 엔터): ")
    max_monthly_rent = input("최대 월세를 입력해주세요 (입력하지 않으려면 엔터): ")
elif money_type == '매매':
    min_sale_price = input("최소 매매대금을 입력해주세요 (입력하지 않으려면 엔터): ")
    max_sale_price = input("최대 매매대금을 입력해주세요 (입력하지 않으려면 엔터): ")




# 사용자 입력값을 이용한 SQL 쿼리 작성
query = f"""
    SELECT *
    FROM budongsan
    WHERE 동 = '{dong}'
      AND 종류 = '{money_type}'
"""

# 선택 사항인 면적과 층수에 대한 조건 추가
if min_size:
    query += f" AND 면적 >= {min_size}"
if max_size:
    query += f" AND 면적 <= {max_size}"
if min_floor:
    query += f" AND 층 >= {min_floor}"
if max_floor:
    query += f" AND 층 <= {max_floor}"

    
# money_type이 월세일 때
if money_type == '월세':
    if min_deposit:
        query += f" AND 지번 IN (SELECT 지번 FROM monthly_rent WHERE 보증금 >= {min_deposit})"
    if max_deposit:
        query += f" AND 지번 IN (SELECT 지번 FROM monthly_rent WHERE 보증금 <= {max_deposit})"
    if min_monthly_rent:
        query += f" AND 지번 IN (SELECT 지번 FROM monthly_rent WHERE 월세 >= {min_monthly_rent})"
    if max_monthly_rent:
        query += f" AND 지번 IN (SELECT 지번 FROM monthly_rent WHERE 월세 <= {max_monthly_rent})"

elif money_type == '전세':
    if min_jeonse_price:
        query += f" AND 지번 IN (SELECT 지번 FROM jeonse WHERE 전세 >= {min_jeonse_price})"
    if max_jeonse_price:
        query += f" AND 지번 IN (SELECT 지번 FROM jeonse WHERE 전세 <= {max_jeonse_price})"
    if min_monthly_rent:
        query += f" AND 지번 IN (SELECT 지번 FROM jeonse WHERE 월세 >= {min_monthly_rent})"
    if max_monthly_rent:
        query += f" AND 지번 IN (SELECT 지번 FROM jeonse WHERE 월세 <= {max_monthly_rent})"
elif money_type == '매매':
    if min_sale_price:
        query += f" AND 지번 IN (SELECT 지번 FROM meme WHERE 매매대금 >= {min_sale_price})"
    if max_sale_price:
        query += f" AND 지번 IN (SELECT 지번 FROM meme WHERE 매매대금 <= {max_sale_price})"

        
        
        
# SQL 쿼리 실행하여 데이터프레임으로 가져오기
selected_data = pd.read_sql_query(query, conn)



# money_type에 따라 추가로 가져올 데이터프레임 선택
additional_data_query = ""

# money_type이 월세일 때
if money_type == '월세':
    additional_data_query = f"""
        SELECT 지번,월세,보증금
        FROM monthly_rent
        WHERE 지번 IN (
            SELECT 지번
            FROM budongsan
            WHERE 동 = '{dong}'
              AND 종류 = '{money_type}'
        )
    """

# money_type이 전세일 때
elif money_type == '전세':
    additional_data_query = f"""
        SELECT 지번, 전세, 월세
        FROM jeonse
        WHERE 지번 IN (
            SELECT 지번
            FROM budongsan
            WHERE 동 = '{dong}'
              AND 종류 = '{money_type}'
        )
    """

# money_type이 매매일 때
elif money_type == '매매':
    additional_data_query = f"""
        SELECT 지번, 매매대금
        FROM meme
        WHERE 지번 IN (
            SELECT 지번
            FROM budongsan
            WHERE 동 = '{dong}'
              AND 종류 = '{money_type}'
        )
    """



# SQL 쿼리 실행하여 데이터프레임으로 가져오기

additional_data = pd.read_sql_query(additional_data_query, conn)

# 선택된 데이터프레임과 추가 데이터프레임을 병합하여 출력
result_data = pd.merge( selected_data, additional_data, on='지번', how='left')




result_data.drop('index', axis=1, inplace=True)

# 결과 출력
print("\nMerged data:")

unique_result_data = result_data.drop_duplicates()

# Print the unique result data

pd.set_option('display.max_columns', None)
pd.set_option('display.expand_frame_repr', False)
print(unique_result_data.replace(r'\\', '', regex=True).to_string(index=False))

원하시는 동이름을 입력해주세요(공릉동/상계동/월계동/중계동/하계동): 공릉동
부동산 종류를 입력해주세요(월세(준월세)/전세(준전세)/매매): 월세
원하시는 최소 면적을 입력해주세요 (입력하지 않으려면 엔터):
원하시는 최대 면적을 입력해주세요 (입력하지 않으려면 엔터): 20
원하시는 최소 층수를 입력해주세요 (입력하지 않으려면 엔터):
원하시는 최대 층수를 입력해주세요 (입력하지 않으려면 엔터):
최소 보증금을 입력해주세요 (입력하지 않으려면 엔터): 100
최대 보증금을 입력해주세요 (입력하지 않으려면 엔터): 400
최소 월세를 입력해주세요 (입력하지 않으려면 엔터): 10
최대 월세를 입력해주세요 (입력하지 않으려면 엔터): 40

Merged data:
                  지번   동 종류         건물명    면적  층          도로명주소(길)  월세  보증금
 서울특별시 노원구 공릉동 395-4 공릉동 월세        에덴빌라 17.14  3 서울특별시 노원구 동일로190길  30  300
 서울특별시 노원구 공릉동 395-4 공릉동 월세        에덴빌라 17.14  3 서울특별시 노원구 동일로190길  33  300
서울특별시 노원구 공릉동 567-12 공릉동 월세 파크빌(567-12) 11.89  5 서울특별시 노원구 동일로182길  40  200
서울특별시 노원구 공릉동 567-12 공릉동 월세 파크빌(567-12) 11.89  5 서울특별시 노원구 동일로182길  40  100
 서울특별시 노원구 공릉동 395-4 공릉동 월세        에덴빌라 16.54  1 서울특별시 노원구 동일로190길  30  300
 서울특별시 노원구 공릉동 395-4 공릉동 월세        에덴빌라 16.54  1 서울특별시 노원구 동일로190길  33  300
서울특별시 노원구 공릉동 661-20 공릉동 월세       플라체76 12.06  4 서울특별시 노원구 동일로174길  18  200
서울특별시 노원구 공릉동 661-20 공릉동 월세       플라체76 12.06  4 서울특별시 노원구 동일로174길  18  210
서울특별시 노원구 공릉동 661-20 공릉동 월세       플라체76 12.06  4 서울특별시 노원구 동일로174길  15  100
서울특별시 노원구 공릉동 567-12 공릉동 월세 파크빌(567-12) 16.42  4 서울특별시 노원구 동일로182길  40  200
서울특별시 노원구 공릉동 567-12 공릉동 월세 파크빌(567-12) 16.42  4 서울특별시 노원구 동일로182길  40  100
서울특별시 노원구 공릉동 567-12 공릉동 월세 파크빌(567-12) 16.84  2 서울특별시 노원구 동일로182길  40  200
서울특별시 노원구 공릉동 567-12 공릉동 월세 파크빌(567-12) 16.84  2 서울특별시 노원구 동일로182길  40  100
서울특별시 노원구 공릉동 661-20 공릉동 월세       플라체76 12.10  5 서울특별시 노원구 동일로174길  18  200
서울특별시 노원구 공릉동 661-20 공릉동 월세       플라체76 12.10  5 서울특별시 노원구 동일로174길  18  210
서울특별시 노원구 공릉동 661-20 공릉동 월세       플라체76 12.10  5 서울특별시 노원구 동일로174길  15  100
서울특별시 노원구 공릉동 661-20 공릉동 월세       플라체76 12.16  8 서울특별시 노원구 동일로174길  18  200
서울특별시 노원구 공릉동 661-20 공릉동 월세       플라체76 12.16  8 서울특별시 노원구 동일로174길  18  210
서울특별시 노원구 공릉동 661-20 공릉동 월세       플라체76 12.16  8 서울특별시 노원구 동일로174길  15  100
서울특별시 노원구 공릉동 567-12 공릉동 월세 파크빌(567-12) 16.61  4 서울특별시 노원구 동일로182길  40  200
서울특별시 노원구 공릉동 567-12 공릉동 월세 파크빌(567-12) 16.61  4 서울특별시 노원구 동일로182길  40  100

In [22]:


def calculate_total_score(address):
    fine_score = fine_facility.loc[fine_facility['도로명주소(길)'] == address, '점수'].sum()
    bad_score = bad_facility.loc[bad_facility['도로명주소(길)'] == address, '점수'].sum()
    total_score = fine_score + bad_score
    return total_score


# Print the unique result data
pd.set_option('display.max_columns', None)
pd.set_option('display.expand_frame_repr', False)

# Apply the function to each row in the result_data DataFrame
result_data['점수총합'] = result_data['도로명주소(길)'].apply(calculate_total_score)
unique_result_data = result_data.drop_duplicates()
print(unique_result_data.replace(r'\\', '', regex=True).to_string(index=False))

                  지번   동 종류         건물명    면적  층          도로명주소(길)  월세  보증금  점수총합
 서울특별시 노원구 공릉동 395-4 공릉동 월세        에덴빌라 17.14  3 서울특별시 노원구 동일로190길  30  300    35
 서울특별시 노원구 공릉동 395-4 공릉동 월세        에덴빌라 17.14  3 서울특별시 노원구 동일로190길  33  300    35
서울특별시 노원구 공릉동 567-12 공릉동 월세 파크빌(567-12) 11.89  5 서울특별시 노원구 동일로182길  40  200    84
서울특별시 노원구 공릉동 567-12 공릉동 월세 파크빌(567-12) 11.89  5 서울특별시 노원구 동일로182길  40  100    84
 서울특별시 노원구 공릉동 395-4 공릉동 월세        에덴빌라 16.54  1 서울특별시 노원구 동일로190길  30  300    35
 서울특별시 노원구 공릉동 395-4 공릉동 월세        에덴빌라 16.54  1 서울특별시 노원구 동일로190길  33  300    35
서울특별시 노원구 공릉동 661-20 공릉동 월세       플라체76 12.06  4 서울특별시 노원구 동일로174길  18  200   102
서울특별시 노원구 공릉동 661-20 공릉동 월세       플라체76 12.06  4 서울특별시 노원구 동일로174길  18  210   102
서울특별시 노원구 공릉동 661-20 공릉동 월세       플라체76 12.06  4 서울특별시 노원구 동일로174길  15  100   102
서울특별시 노원구 공릉동 567-12 공릉동 월세 파크빌(567-12) 16.42  4 서울특별시 노원구 동일로182길  40  200    84
서울특별시 노원구 공릉동 567-12 공릉동 월세 파크빌(567-12) 16.42  4 서울특별시 노원구 동일로182길  40  100    84
서울특별시 노원구 공릉동 567-12 공릉동 월세 파크빌(567-12) 16.84  2 서울특별시 노원구 동일로182길  40  200    84
서울특별시 노원구 공릉동 567-12 공릉동 월세 파크빌(567-12) 16.84  2 서울특별시 노원구 동일로182길  40  100    84
서울특별시 노원구 공릉동 661-20 공릉동 월세       플라체76 12.10  5 서울특별시 노원구 동일로174길  18  200   102
서울특별시 노원구 공릉동 661-20 공릉동 월세       플라체76 12.10  5 서울특별시 노원구 동일로174길  18  210   102
서울특별시 노원구 공릉동 661-20 공릉동 월세       플라체76 12.10  5 서울특별시 노원구 동일로174길  15  100   102
서울특별시 노원구 공릉동 661-20 공릉동 월세       플라체76 12.16  8 서울특별시 노원구 동일로174길  18  200   102
서울특별시 노원구 공릉동 661-20 공릉동 월세       플라체76 12.16  8 서울특별시 노원구 동일로174길  18  210   102
서울특별시 노원구 공릉동 661-20 공릉동 월세       플라체76 12.16  8 서울특별시 노원구 동일로174길  15  100   102
서울특별시 노원구 공릉동 567-12 공릉동 월세 파크빌(567-12) 16.61  4 서울특별시 노원구 동일로182길  40  200    84
서울특별시 노원구 공릉동 567-12 공릉동 월세 파크빌(567-12) 16.61  4 서울특별시 노원구 동일로182길  40  100    84

In [24]:
user_address = input('시설에 대해 자세히 알고싶은 도로명주소(길)을 입력해주세요: ')

# Function to display bad_facility and fine_facility 종류 for a given 도로명주소(길)
def display_facility_types(address):
    fine_types = fine_facility.loc[fine_facility['도로명주소(길)'] == address, '종류'].unique()
    bad_types = bad_facility.loc[bad_facility['도로명주소(길)'] == address, '종류'].unique()

    print(f"\n '{address}'에 대한 시설 종류:")
    
    if len(fine_types) > 0:
        print("\n선호시설:")
        for fine_type in fine_types:
            print(fine_type)
    else:
        print("\n선호시설: No data available")

    if len(bad_types) > 0:
        print("\n혐오시설:")
        for bad_type in bad_types:
            print(bad_type)
    else:
        print("\n혐오시설: No data available")

# Display facility types for the user-specified 도로명주소(길)
display_facility_types(user_address)

시설에 대해 자세히 알고싶은 도로명주소(길)을 입력해주세요: 서울특별시 노원구 동일로182길

 '서울특별시 노원구 동일로182길'에 대한 시설 종류:

선호시설:
편의점
피자
카페
빵/도넛
김밥/만두/분식
기타 오락장
세탁소
꽃집
기타 의류 소매업

혐오시설:
요리 주점

In [25]:
engine = create_engine("mysql+mysqldb://root:tpduscnfehd@localhost:3306/tpduscnfehd", encoding='utf-8')
db_connection = engine
conn = db_connection.connect()
result_data.to_sql(name='result_data', con=conn, if_exists='replace')

38